@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

/* TAILWIND V4 TOKENS */
@theme inline {
  --color-background: #0b0b0b;
  --color-foreground: #f5f5f5;
  --font-sans: "Inter", system-ui, sans-serif;

  --text-h1: 3rem;
  --text-h2: 3rem;
  --text-h3: 2rem;
  --text-body: 1.25rem;
}

/* GLOBAL BROWSER STYLES */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}

